html {
	font-family: Sans Serif,  Helvetica, Arial;
}
ul {
	margin: 0;
	padding:0;
}
li {
	padding: .4em 1em;
	list-style: none;
}
li ul {
	margin-left: 1em;
}
div {
	border-bottom: solid silver 1px;
	padding: 1em;
}
div:first-of-type{
	border-top: solid silver 1px;
}
div:last-of-type{
	border-bottom: none;
	margin-bottom: 3.5em;
}
a {
	color: #888;
	text-transform: uppercase;
	text-decoration: none;
	margin-left:1em;
}
a:hover{
	color: #333;
	text-decoration: underline;
}
label {
	display: inline-block;
	width: 150px;
}
input, textarea{
	padding: .4em;
	border: solid silver 1px;
	border-radius: .3em;
}
input {
	min-width: 500px;
}
textarea {
	font-family: monospace;
	width: 100%;
	height: 300px;
}
footer {
	background: rgba(33, 33, 33, .5);
	color: #fff;
	text-align: right;
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 1em;
	width: 100%;
}
footer button{
	border: solid #333 1px;
	border-radius: .3em;
	text-decoration: none;
	cursor: pointer;
	background: #888;
	color: currentColor;
	padding: 0.4em 1em;
	text-transform: uppercase;
}
footer button:hover, footer button:focus {
	background-color: #333;
}
footer button.red:hover, footer button.red:focus{
	background-color: #A33;
}
